.login {
  background-color: rgb(255, 115, 115);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .login-container {
    .logo {
      align-self: center;
      img {
        width: 128px;
        height: 128px;
      }
    }
    max-width: 90%;
    width: 360px;
    .login-text {
      font-size: 2.7rem;
      color: black;
      font-weight: 800;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .login-input {
      margin-bottom: 15px;
      input {
        border: none;
        border-radius: 0px;
        padding: 20px;
        background-color: transparent;
        width: 100%;
        border-bottom: 2px solid black;
        box-shadow: rgb(17 17 18 / 4%) 0 2px 4px, rgb(19 20 20 / 6%) 0 1px 1px !important;
        color: black;
        transition: all ease-in-out 0.4s;
        &:hover,
        &:focus {
          background-color: #000;
          color: white;
          &::placeholder {
            color: white;
          }
        }
        &::placeholder {
          color: black;
        }
      }
    }
    button {
      background-color: transparent;
      border: 2px solid #000;
      color: black;
      padding: 13px;
      width: 100%;
      border-radius: 0px;
      position: relative;
      text-transform: uppercase;
      font-weight: 600;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
